API_ID=23423462
API_HASH=6b93513ce93fd34347bed4cd52e41b
SESSION_NAME=local_db/userbot
DB_PATH=local_db/messages.db
LOG_PATH=local_db/listener.log

GROQ_API_KEY=gsk_jj4yjpdddddddddddddddddddddddddddddWEEFSDf